
.skills {
    background-color: var(--background-dark); 
}
body[data-theme="light"] .skills {
    background-color: var(--background-light); 
}

.skills-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.projects {
    background-color: var(--background-dark);
}
body[data-theme="light"] .projects {
    background-color: var(--background-light);
}
.projects-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.bots {
    background-color: var(--background-dark); 
    padding-bottom: 100px; 
}
body[data-theme="light"] .bots {
    background-color: var(--background-light);
}

.bots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.contact {
    padding-bottom: 100px;
}