:root {

    --background-dark: #1a1a1a;
    --text-color-dark: #f0f0f0;
    --secondary-color: #AAAAAA;
    --card-background-dark: #2a2a2a;
    --border-color-dark: #444;
    --secondary-bg: #333;
    --button-hover-bg: #0056b3;

    --background-light: #f7f7f7;
    --text-color-light: #333;
    --card-background-light: #ffffff;
    --border-color-light: #e0e0e0;


    --secondary-color-light: #666666;


    --primary-color: #007bff;
    --primary-color-rgb: 0, 123, 255;
    --highlight-color: #007bff;


    --box-shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
    --box-shadow-light: 0 5px 15px rgba(0, 0, 0, 0.08);
}