/* ========================================= */
/* ✒️ BASE/TYPOGRAPHY: Styles de texte globaux et liens */
/* ========================================= */

body {
    /* Styles de base déplacés du reset.css */
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    /* Transition globale pour le changement de thème */
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Styles de titres de base (facultatif, mais recommandé pour la hiérarchie) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

/* ----------------------------------------- */
/* STYLES DE LIENS DE BASE (Ton code) */
/* ----------------------------------------- */
a {
    color: var(--primary-color);
    text-decoration: underline; 
    /* Le soulignement est une excellente pratique d'accessibilité (WCAG 2.1) */
    transition: color 0.3s ease;
}
a:hover {
    color: var(--link-hover-color);
}




.navbar a {
    text-decoration: none;
}

.btn-primary, 
.btn-secondary, 
.btn-project, 
.btn-bot, 
.modal-return-btn {
  
    text-decoration: none !important; 
}