body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}


a {
    color: var(--primary-color);
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}




.navbar a {
    text-decoration: none;
}

.btn-primary,
.btn-secondary,
.btn-project,
.btn-bot,
.modal-return-btn {

    text-decoration: none !important;
}